{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 50,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "semi": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "insertPragma": false,
  "embeddedLanguageFormatting": "auto"
}
